<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="false"
        android:label="Pikmin GPS Bridge"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
        <receiver
            android:name=".GpsCommandReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="cc.odyliao.pikmingpsbridge.SET_LOCATION" />
                <action android:name="cc.odyliao.pikmingpsbridge.STATUS" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
